{% load static %}
<html>
    <head>
    </head>
    <body>
        <link rel="stylesheet" href="{% static 'expense_tracking/style.css' %}">
        <h1>{{title}}</h1>
        <div class="transaction-boxes">
            <div class="table-box">
                <table border = "1" cellpadding = "10" cellspacing = "1">
                    <tr>
                        <th>Product ID</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Unit price</th>
                        <th>Total price</th>
                        <th>Purchase ID</th>
                    </tr>
                    {% for item in table %}
                    <tr>
                        <td> {{item.product_id}} </td>
                        <td> {{item.product_description}} </td>
                        <td> {{item.product_quantity}} </td>
                        <td> {{item.product_unit_price}} </td>
                        <td> {{item.product_total_price}} </td>
                        <td> {{item.purchase_id}} </td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </body>
</html>